{{ define "styles"}}
<link rel="stylesheet" href="/assets/components/dropzone/dropzone.css" />
<link rel="stylesheet" href="/assets/components/bootstrap-markdown-2.10.0/css/bootstrap-markdown.min.css">
<!-- Select2 -->
<link rel="stylesheet" href="/assets/components/select2/css/select2.min.css">
{{ end }}