<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="renderer" content="webkit" />
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
    {{ template "styles"}}
    {{ template "header" . }}
</head>

<body>
    <div id="pjax-container" class="container">
        {{ template "content" . }}
    </div>
    {{ template "scripts"}}
</body>

</html>